[2019-07-02 08:55] h3artbl33d commented on #2222
I think this is related to what Google calls ["project Strobe"](https://www.blog.google/technology/safety-security/project-strobe/). Your Gmail account in Mailpile, is it configured with OAuth? If so, you can fix this by reconfiguring your account using IMAP rather than OAuth.

**When adding an account:**

1. Make sure [IMAP is enabled](https://support.google.com/mail/answer/7126229?hl=en) for you

[2019-07-02 09:35] h3artbl33d commented on #2221
Hi mokawi,

Now I have to apologize for my late reply ;) The Github notifications weren't sent out - setting flipped back to _no notifications_.

Your scenario seems solid and thought through. Before I switched to Mailpile, I had a comparable setup; I thought it was madness to leave the entire archive with the mail provider - no matter which one. Hence, I configured a local IMAP server and synchro

[2019-07-02 10:02] BjarniRunar commented on #2222
Thanks @h3artbl33d for mentioning this; this is indeed a feasible workaround for people who are motivated and in trouble.

But for everyone else, if we can't access GMail accounts without jumping through hoops, that's a pretty major setback for the project. I'm hoping I can reach someone at Google to figure out what is going on. Their docs and instructions just don't make sense to me, I fear I may

[2019-07-02 11:51] h3artbl33d commented on #2222
In retrospect: it was a part of a larger announcement; from the title or intro that was sent out way back, it wasn't very clear what the direct impact on Gmail OAuth was going to be; only by clicking some link and reading the webpage. More in-depth information:

https://developers.google.com/terms/api-services-user-data-policy#additional-requirements-for-specific-api-scopes
https://support.google.

[2019-07-02 15:24] BjarniRunar commented on #2159
This is done, thanks @philratcliffe!

[2019-07-02 15:24] #2159 closed

[2019-07-03 23:59] BjarniRunar commented on #2222
As a mail client that wants to read and write e-mail on your behalf, we can't limit our scopes.

[2019-07-10 07:56] h3artbl33d commented on #2222
I totally understand that. This move that Google is making here is hurting the community. You could apply for the restricted scope verification: https://support.google.com/cloud/answer/9110914#restricted-scopes

I'd very much like to help you out any way I can. But other than researching this development, there is not much I can do. Personally, I wouldn't entrust a _random stranger_ (which is what

[2019-07-10 15:00] JackDca opened #2223 "Project team needed?"
In @BjarniRunar's blog post [Burned Out and Happy?](https://www.mailpile.is/blog/2019-04-06_Burnout.html) he says,
 "I care deeply about this project, but it really is too big for one
person and I haven't successfully built a team to support me."

I too have spent some time on Mailpile (but nothing like
Bjarni's contribution!). I believe that it is an important
effort and want to see it continue.

[2019-07-10 15:14] yegortimoshenko commented on #2223
I personally would like to participate, with the most important short-term goals (for me personally) of porting Mailpile to Python 3 (see #2150) and implementing session key storage (see #2155). However, so far I don't have much any contributions that have already landed in.

[2019-07-10 15:29] BjarniRunar commented on #2223
Thanks for filing this @JackDca. And thanks (in advance) to anyone who would like to step up.

Just as a reminder, the IRC channel is still open (Freenode #mailpile) and I'm happy to discuss things informally there if I'm at the computer. The other venue is our Discourse forum, probably the Development category: https://community.mailpile.is/c/development - that would be the most appropriate place

[2019-07-10 15:30] BjarniRunar commented on #2222
I still haven't gotten any responses from Google.

[2019-07-10 15:40] BjarniRunar commented on #2222
Having pondered this briefly, I think I'm just going to abandon the existing credentials and try to create new ones this week. We missed whatever deadlines they had set, but there's nothing that says we can't register a "new" app with the perms we need. That may need a review, but hopefully this time I'll manage to navigate that...

[2019-07-10 15:45] noahhaasis commented on #2223
Since I don’t have a deep understanding of the Codename yet I would like to start in the first category and maybe transition later when I’m more familiar with the Codename and the project.

[2019-07-10 15:49] aviau commented on #2223
I just wanted to leave a small word of encouragement and state that I am coincidentally wearing my Mailpile shirt today <3!

![image](https://user-images.githubusercontent.com/2706882/60983731-7cc71b00-a308-11e9-9b52-b90d75b92870.png)

On the subject of this issue, I intend to keep helping with packaging tasks if needed. I have been ready to upload Mailpile to official Debian repositories for a wh

[2019-07-10 17:00] Kabouik commented on #2223
Please add me to the list. I'm in no way capable of coding anything, this is not my area of expertise, and unfortunately I don't have much time to invest in the project either because I'm not far from being burnt out with my own occupation. However, I care deeply about Mailpile too, have been using it for years, and would be happy to follow and participate in discussions, however minor my input mi

[2019-07-10 18:31] h3artbl33d commented on #2223
Count me in, **definitely**. Though I am experienced with Python development, I'd like to start with support and _auditing_ the code. I want to feel familiar with the code before starting to hack on it ;) If I had to pick, I'd like to hack on the core once I am confident enough with the existing codebase.

- **I am able and willing to contribute:** time and effort, code, documentation, support and

[2019-07-10 18:35] h3artbl33d commented on #2222
Thank you kindly for your time and effort on this issue. It's bad that Google went down this road and indirectly _hurting_ open source projects like Mailpile. If there is anything I can do to help, please ping me, I will gladly help Mailpile advance in any way I can.

[2019-07-10 19:41] comradekingu commented on #2223
Would still like to work on the language of Mailpile. I think the preferable solution is to have two different people working at it, and asking Bjarni to explain things if needed.
It would help greatly in that regard to move the translation effort onto https://weblate.org/hosting then I could help out there too, and even administrate things.

[2019-07-10 19:52] h3artbl33d commented on #2223
Just curious, what would Weblate add that Transifex doesn't have?

[2019-07-10 23:35] BjarniRunar commented on #2223
@comradekingu So as not to derail this thread, can you file a new issue to discuss your translation ideas? It would be absolutely great to have an i18n-manager, and I think you're experienced enough with the app and the tech that you could do a great job.

[2019-07-11 00:15] BjarniRunar commented on #2220
Thank you for reporting this, but if I understand correctly, the issue is that nginx is generating an error condition that Mailpile does not expect, and so the UI is unhelpful?

I don't think it's reasonable to expect Mailpile to gracefully handle and interpret and explain all the errors that can be injected by intermediate proxies; the place to fix this is in the nginx config. So I'm going to clo

[2019-07-11 00:15] #2220 closed

[2019-07-11 00:42] Pectojin commented on #2220
I don't think it matters why the errors happens. We're seeing a notification say there is an error but refusing to say what the error is.

It doesn't have to do anything but pass the error up, such as changing from `err.message` to `err.message err.code` here: https://github.com/mailpile/Mailpile/blob/babc3e5c3e7dfa3326998d1628ffad5b0bbd27f5/shared-data/default-theme/html/jsapi/compose/attachments

[2019-07-11 01:06] comradekingu opened #2227 "Language strategy, moving to Hosted Weblate"
Branching out from #2223

For the upstream strings in Mailpile, the English stringbase, I think the preferable solution to management is to have two (or more) different people working at it, and asking Bjarni to explain things if needed.
Making both the task of getting a handle on the upstream strings easier, as-well as translation thereof, ideally done in unison, it would help greatly in that reg

[2019-07-11 10:20] h3artbl33d commented on #2227
Damn. I have not read up enough on Transifex - I use it currently to contribute translations (Mailpile, NextCloud and others). The downsides are enormous - especially when there is a much better alternative.

So I second this idea!

[2019-07-11 12:47] JackDca commented on #2223
Thank you for all the responses, everyone.

I am travelling today and will catch up tomorrow.

[2019-07-11 18:53] BjarniRunar commented on #2227
Makes sense. You have a green light from me to start working on the migration to Weblate; no release is imminent, so it's fine if this stuff is in a transitional state for a while.

To clarify further, what did you envision the two people working on this, working on? I can think of a bunch of i18n-related work that needs doing, but I'm curious what you had in mind.

[2019-07-11 18:54] BjarniRunar commented on #2227
Oh, and regarding the move - what do you need from me? Let me know!

[2019-07-11 20:32] BjarniRunar commented on #2220
I totally agree and have merged your PR. Thank you for taking the time to discuss and contribute!

[2019-07-11 20:44] Pectojin commented on #2220
Thanks for dealing with me ;)

[2019-07-12 09:42] BjarniRunar commented on #2223
Just a quick reminder, folks! This project has a code of conduct, please be sure you are comfortable with it before investing too heavily here: https://github.com/mailpile/Mailpile/blob/master/CODE_OF_CONDUCT.md

(I know this matters to some people, so this is just to clarify that the CoC is not up for debate at this point in time. Please respect that. There are lots of projects out there, agree t

[2019-07-12 16:24] JackDca commented on #2223
Thanks again for the responses!

Mailpile uses Python, Javascript, HTML, CSS, PGP, i18n among other technologies. Also it's targeted at Linux, Windows, and macOS. Another need is for user and developer documentation - Docs. So it would help to hear from each person, what is your level of knowledge/experience in each of these areas - or other major areas if yours aren't listed?

For me, if 0 is non

[2019-07-13 08:08] BjarniRunar commented on #2227
Closing. This remains a good idea, but after some offline discussion, we'd need someone else to lead the effort.

We can open a new issue if/when someone else is interested in working on this (or any other strategy to invigorate our i18n work).

[2019-07-13 08:08] #2227 closed

[2019-07-14 18:17] h3artbl33d commented on #2223
Could you clarify some points? For example, how is the scoring on the OS aspects interpreted (from which viewpoint). And with i18n, are you referring to the implementation of translation in the core, translating Mailpile into other languages, etc?

I have extensive knowledge of BSD, Linux and macOS, I'd rate these a 5. In Windows I definitely know my way around, but I fail miserably with PowerShel

[2019-07-14 21:41] JackDca commented on #2223
@h3artbl33d - at this point I was hoping to encourage those who were interested in participating to informally indicate their areas of expertise. I hadn't defined any precise scale. Your summary of your own capabilities more than answers my question. Thanks for your response!

[2019-07-15 21:47] vezult commented on #2223
On Wed, Jul 10, 2019 at 08:00:42AM -0700, Jack Dodds wrote:

I've done some work toward using firejail to sandbox calls to external
utilities. Events in RL conspired to derail my work on that, and I
never got back to it. I'd like to finish that work.

I don't have a lot of time to devote, so I don't know that I can
pledge to contribute in a sustained/consistent way.

-davidc

[2019-07-16 02:47] mokawi commented on #2221
Hi,

I tried again and realized I wasn't doing the right thing. I assumed that the `add` command on the command line was what I needed to begin making a new account; it turns out it was in the ui (hidden to me because I hadn't caught that I needed to save settings first).

I'm sorry for the confusion! I suggest we close the issue.

[2019-07-16 02:47] #2221 closed

[2019-07-17 19:42] gerroon commented on #2219
" Allow deletion of e-mail from servers and mailboxes. " is checked and the emails are still on the server :(

I am on Debian testing , using virtualenv with the latest pull

[2019-07-18 15:49] JackDca commented on #2222
For what it is worth - as of today 2019-07-18, which is 3 days past the deadline advertised by Google - I am still able to sign on and download new mail from three gmail accounts (i.e. mptest????@gmail.com) that I use for testing. I also tried sending from one to another (uses SMTP). This is using the current master e86d5ba8.

The receive settings are IMAP/TLS/port 993/OAuth2.

Send settings are S

[2019-07-18 17:01] h3artbl33d commented on #2223
That is actually rather interesting and neat. I was already tinkering with writing some docs on paranoia setups. Besides sandboxing calls to external utilities, users can jail/sandbox/pledge/unveil their browsers - which pose a rather large attack vector. The browser being unable to touch the Mailpile data folder is one extra defense barrier.

Would you be open to discuss this further and see whet

[2019-07-18 23:30] BjarniRunar commented on #2222
All my mails were ignored, but I got an e-mail just a few minutes ago telling me that the deadline had passed and our credentials would be revoked. So, I expect things to break badly quite soon now.

I've applied for new credentials, but they say the process may take weeks and since I never got any responses to our last application, I'm not feeling much optimism this time around. Fingers crossed?

[2019-07-19 00:15] BjarniRunar commented on #2222
So, uh, good news! Our access is revoked... but:

Turns out, brave users can still click through using the "advanced" option and decide to grant access anyway. So it's ugly and scary, but we're not dead in the water.

[2019-07-19 00:34] BjarniRunar commented on #2222
Support thread, with screenshots and an explanation: https://community.mailpile.is/t/logging-on-to-gmail-accounts-this-app-isnt-verified/204

[2019-07-19 16:50] h3artbl33d commented on #2222
@BjarniRunar I don't think I can do a better job, nor do I want to say anything about the effort you went through; would you give me a try with the big, bad and mean G to get this resolved?

[2019-07-19 17:06] h3artbl33d commented on #2219
Are we talking about a small number of e-mails that are left on the server? If so, once messages are fetches, they are deleted on the remote source after a short while.

If all e-mail remains in your Gmail account, you might want to check your settings there.

![Gmail settings](https://i.ibb.co/r37p92S/gmailsettings.png)

[2019-07-20 07:09] spiraldancing commented on #2223
Hello all,

Just a quick intro ... I'm a (mostly-)Microsoft developer with 15-ish years under my belt, primary experience is in C# / ASP.NET / T-SQL, with a healthy dose of HTML/CSS/js, and a smattering of 4 dozen other things (I've worn many hats).

The past couple of years, I've been trying to pivot away from the M$ world (mainly because I have no respect for the company), and into Linux.  I'm a

[2019-07-20 15:03] JackDca commented on #1703
Comments on some of the items listed above:

### **Deleting a draft from /in/drafts/ does not delete the whole thread.**

Tried this on a long thread - composed forwarded message to a new addressee, saved it, put it in Trash. Other messages in thread were not affected.

Conclusion: Check this item **Done**.

### **Removing from the Outbox makes message editable again**

Testing showed that the sen

[2019-07-21 10:17] BjarniRunar opened #2229 "Make IMAP (and maybe other mail sources) stop polling gone mailboxes"
Mailpile should automatically stop trying to re-check a mailbox/folder which has been deleted from the source/server.

This should be done in such a way that if the mailbox reappears, polling starts again. This should be relatively straightforward, mostly we need to make sure that each individual mailbox type communicates clearly that it's "gone" (not just temporarily unavailable) and the master m

[2019-07-23 09:01] mardy opened #2230 "Account creation is painful"
Hi all!
  I have an e-mail account on my domain, hosted at dreamhost. I installed Mailpile, and tried added an account. I first used autodetection, and that seemed to find all the endpoints (POP3, IMAP, SMTP), but then when I went to the "Receiving emails" and "Sending emails" tabs, the configuration was missing.

I then tried manual account configuration. It failed; I guess it's because I didn't

[2019-07-23 10:02] foursixnine commented on #2223
Hi! I finally managed to squeeze in some time to answer. I'm mainly a Perl Developer/QA Engineer, but I know my ways around code (more or less). So if there's some direction on where to take the project, I'd be more than happy to contribute (And finally switch fully to Mailpile :D)

Regarding skills and stuff, idk, I think I can do stuff at best, worst case scenario I can always set up some functi

[2019-07-23 15:32] JackDca commented on #2223
Thanks for responding @foursixnine. Good to see QA experience! Someone who contributes code must thoroughly debug and test it before committing, but it's important to have another level of testing before the code is merged into master. I'm working on suggesting ways that we can use all the skills that have been identified.

[2019-07-24 21:59] JackDca commented on #2223
Hello @spiraldancing - thanks for your response!
I agree that the best way to start is to install and use Mailpile for your own email. I'm curious - what kind of platform would you be using? I don't have any data to support this, but my guess is that most people in the community are using some flavour of Gnu/Linux. If you are using Windows for your personal computing (including Mailpile), that mig

[2019-07-26 13:05] JackDca commented on #1862
Also relevant - #1638   #1560

On IRC  freenode.net - mailpile - ptotter referenced this which may be relevant.
https://useplaintext.email/#implementation-recommendations

[2019-07-27 17:12] JackDca opened #2231 "Attempt to forward a previously sent encrypted email fails"
If I receive an encrypted email, select it, open it, and then press the >Forward button at the bottom of the email, the browser screen is replaced with a screen showing unformatted text:

[code]
This was tested with Mailpile launched from a console window. The following appears on the console:

[code]

Pressing the browser Back button goes back to the search results screen with the original receiv

[2019-07-29 16:47] JackDca commented on #2180
A Saved Search is created by entering search terms in the search bar at the top of the search results screen, clicking the button, then clicking the `*Save` button (in the bar immediately below the search bar) and using the modal that pops up.

Results of testing on commit 6e61761a dated 2019-07-20 on Debian Jessie with Firefox:

**Sometimes the modal doesn't close (see above)**

Testing showed th

[2019-07-31 06:13] h3artbl33d commented on #2231
I am able to replicate this on commit `#94b4b58` (28th of July), on OpenBSD-current. The last line seems most relevant, it seems to expect an integer rather than a str value.

[code]

[2019-07-31 14:33] JackDca commented on #2231
After further testing:
This issue occurs when I attempt to "forward" an email that I originally **sent**. It does not occur when forwarding emails **received** from other people.
@h3artbl33d, does this agree with your testing?
I have edited the title to reflect this.

[2019-08-01 14:37] JackDca commented on #2156
At present, keys are imported only when the user composes an email to a user. The user has to click on a `Find Encryption Keys` or `Show Encryption Keys` button to display a list of keys and press on an `Import Key` button to explicitly accept a key. This ensures that the user has control over keys that are accepted for use by Mailpile.

Those buttons can be accessed in two ways from the Compose s

[2019-08-08 15:46] JackDca opened #2233 "Use relative file paths in pickled mailboxes and gpg_home"
Mailpile uses file path names relative to the homedir (Mailpile data directory) in the `mailpile.cfg` file (e.g. `/Mailpile$/mail/2d3fc`), where `Mailpile$` is interpreted by the virtual file system as the homedir.  But, in the pickled mailbox files (e.g. pickled-mailbox.000a) it uses absolute file paths (e.g. `/home/snorri/.local/share/Mailpile/snorri/mail/a5b2d/new`). If the homedir is moved, th

[2019-08-13 13:57] JackDca commented on #2223
**Update:**

In response to this issue, one group has agreed to work on Issue #2180, which is on the list of things to be done before before the 1.0 release. More details can be found at the [Mailpile Discourse topic](https://community.mailpile.is/t/work-on-issue-2180-saved-search-ui-is-broken/227) that has been created to track the work of that group.

There are several other issues on the [1.0 b

[2019-08-14 03:24] spiraldancing commented on #2223
Hello @JackDca

First off, I got side-tracked by Life again.  Apologies for the slow response.  (Although, oddly, the GitHub email notification just prompted me now, in response to your latest "Update:" post, and not the post where you actually mentioned me ... ?)

Regardless, I'm back now and paying attention again.  Despite my Microsoft professional background, I too, run various flavors of Linu

[2019-08-14 14:50] JackDca commented on #2223
@spiraldancing - thanks for your response. We are all volunteers, no apology is necessary!

**Priorities:** One of the rewards of being a volunteer is that you can choose your work. As I see it, reaching the 1.0 release would be a big boost for everyone involved, so I'm choosing issues I'd like to work on, but mainly from the 1.0 blockers. I don't see a big priority difference between them (and it

[2019-08-14 18:37] spiraldancing commented on #2223
Thanks @JackDca

All good info.  And yeah, if the codebase is as large as it sounds, I may never be familiar with all of it ... goal is to just get the overall lay of the land, the build/deploy process, and then just really familiarize myself with the source code in the area(s) I actually dive into.

"futurized"?  Meaning, fully converted to Python 3.x?

For most of my development, I'm just starti

[2019-08-15 14:02] JackDca commented on #2223
@spiraldancing - see my response on the Mailpile Discourse site - [Setting up tools for Mailpile development](https://community.mailpile.is/t/setting-up-tools-for-mailpile-development/233).

[2019-08-17 02:14] BjarniRunar commented on #1784
To wrap this up: translations are included in our .deb packages, and once other packages get built the same will be true for them.

For developers, it's a bit trickier since our .po files currently come from Transifex and I'm not even sure whether people can download them without a password. I should look into this, but I'm going to open a separate issue to track it.

However, the release branch (

[2019-08-17 02:14] #1784 closed

[2019-08-17 02:20] BjarniRunar opened #2234 "Make translations more accessible to developers"
Currently our translations happen in Transifex.

One of the downsides of this, is people need a tool and an account (I think!) with Transifex to download the .po files (translation catalogs). We are currently checking these .po files in to the `release/1.0` branch along with each tagged release, but the master branch has no i18n content which makes it hard for people to test related functionality.

[2019-08-17 02:38] BjarniRunar commented on #2233
Good catch! This is a very interesting issue. I absolutely agree we would like Mailpile's home directory to be relocatable.

[2019-09-06 04:56] Tuxprogrammer opened #2235 "Running mailpile on slow disks (ex. docker server) can't find executables"
Ran into an issue getting Mailpile installed. I've downloaded the repo here using this dockerfile: [https://hub.docker.com/r/rroemhild/mailpile](https://hub.docker.com/r/rroemhild/mailpile) and build a custom container based on 1.0.0rc6.
Whenever I start a container with the image, mailpile fails to start up with errors similar to this:
[code]

Even when the which command reports the binary exists

[2019-09-11 13:37] RenatoViana01 commented on #2229
Can I work on this?

[2019-09-11 14:34] JackDca commented on #123
I have been testing the idea of putting outgoing emails in the Inbox on my production email and I really like the result!

When I press the `Send` button, and then go to `Inbox`, the message is immediately listed. It is flagged with the `Forward` icon (right arrow) between the _recipient's_ avatar and the _recipient's_ name, and also the `Outgoing` icon indicating that it is in `Outbox`. Once it i

[2019-09-15 13:03] BjarniRunar commented on #2222
@h3artbl33d Sorry about the late response - that's not easy to do. I'd need to give you access to the Mailpile Google accounts, and I'm just not comfortable handing out those credentials at this point in time. But thank you very much for the offer.

[2019-09-16 12:36] JackDca commented on #123
@BjarniRunar responded to the above comment on IRC. This is my attempt to summarize his response. If I have misinterpreted it my apologies, Bjarni, please correct me.

- Putting outgoing mail in Inbox would not work for some users, depending on how they use `Inbox`.
- Specifically, some users (automatically?) filter their incoming email into additional tags and reply/forward them from there, so th

[2019-09-20 20:42] leojlin commented on #2234
Can we make i18n of Mailpile a separate project on GitHub so that people can download .po or .mo files based on their locale?

[2019-09-21 12:21] faizan2700 commented on #2080
Is someone still working on this? if not please assign this to me. if this issue is already claimed please tell me some "low hanging fruit " labeled or easy issues to which I can contribute to . Thank you

[2019-09-21 20:47] Andrew-Wang-IB45 commented on #1242
I have tried a search with "@foo" in the web interface and did not receive such a message. I tested this on Ubuntu 18.4.2 LTS using Mailpile version 1.0.0rc5.
![Mailpile Issue 1242 Tested](https://user-images.githubusercontent.com/37257276/65378993-fa0af680-dc8e-11e9-8dec-be1e47eb9506.png)

[2019-09-21 20:52] JackDca commented on #2080
Hi @faizan2700 - I don't speak for the Mailpile project - I'm just a contributor - but, I encourage you to dive in to this issue or any other that looks like a good way to get started. I don't think anyone is actively working on this issue. If I can help in any way I'm happy to do so.

[2019-10-03 13:54] r3db3rry opened #2237 "Unable to run mailpile in background"
Hi, I'm trying to run mailpile as a service and, first of all, I'm trying to run mailpile in the background.

I tryed this command `nohup mailpile >mailpile.out 2>mailpile.err &` but I got an error and the program won't start:

Elapsed: 0.004s (health: We are healthy!)
Elapsed: 0.000s (motd: )

Exception in thread Thread-16:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.p

[2019-10-03 23:06] JackDca commented on #2237
Hi @r3db3rry,

I have run mailpile using screen which works well (Debian 9).

I'm not experienced with nohup.

But, the error traceback suggests that Mailpile is trying to read from the console, and I don't see a redirected sysin file specified in the nohup command.

[2019-10-08 10:39] elvirolo opened #2238 "Tooltip mistake in tag edit form"
Version: 1.0.0rc6

In the tag editing form, the tooltips for "Automatic tagging" and "Tag by hand" should be split.

![screenshot_2019-10-08_12-23-20_098797452](https://user-images.githubusercontent.com/7861012/66389348-b5ce6480-e9b7-11e9-9b06-7a2b3556b021.png)

[2019-10-08 10:43] elvirolo commented on #2183
I've set mailpile to use the system keyring, and my key is detected in the "Keys" settings dialog, but I can't link it to my email account. The account settings dialog only offers to create a new key. Is there are way around that?

[2019-10-08 14:23] JackDca commented on #123
I've been using my local implementation of putting outgoing emails in `Inbox` for a while and still like it. I like that it uses the _existing UI_ without further modification or complication. Here are some responses to @BjarniRunar 's points:

- To accomodate users who filter their incoming mail into tags other than Inbox, outgoing forwards or replies could be put in those same tags instead of `I

[2019-10-08 16:48] zencomplex commented on #2222
Can anyone recommend a free email provider that would currently work with Mailpile? Google, Yahoo, etc. all don't work at this time, and Protonmail requires a subscription to use POP3/SMTP/IMAP .

[2019-10-08 17:32] JackDca commented on #2222
Hi @zencomplex.

It appears that it is still possible to use GMail. Google has made it difficult and frightening for the non-technical user to set up, but it was possible the last time I tried. I have some existing GMail accounts that I use for testing Mailpile and I was using two of them today.

You must enable IMAP and "Less secure apps".

The first is straightforward:
Sign on to GMail click on

[2019-10-08 17:43] cbz20 commented on #2222
If you are looking for a new email provider, take a look at [privacytools.io](https://www.privacytools.io/providers/email/). They list four free email providers. protonmail+mailfence support SMTP/POP/etc. only for paid accounts (starting at 2.50 EUR per month); tutanota might not work well with mailpile, since their nonstandard encryption might interfere with PGP. So that leaves [disroot](https://

[2019-10-11 23:21] ahadmushir commented on #2045
Hey!
Is this issue still there? I would like to work on it as a starter of my open source community contribution :)

[2019-10-13 09:47] Coronon commented on #1874
Should be closed

[2019-10-15 22:43] mountainpenguin opened #2239 "Can't get OAuth2 token from gmail"
Sorry if this has already been addressed.

When adding a gmail account for the first time, with OAuth2 as the authentication method, the Grant Access workflow doesn't work, I believe because the app has not been approved on the Google side of things.

Mailpile version: git (last commit 7839ff38b89ac365d6aa7f0b8c1143adb30672f8).

Error message:
```Sign in with Google temporarily disabled for this a

[2019-10-15 23:05] mountainpenguin commented on #2239
Sorry, I just saw that this is a duplicate of #2222

[2019-10-15 23:11] mountainpenguin commented on #2239
Not sure actually, will leave it to someone else to confirm if it is indeed a duplicate

[2019-10-16 23:19] almereyda commented on #1698
When running `docker-compose up` with a current clone of the repository, I get:

[code]

This means we need to add the environmental variable to the container with the current path to the GPG binary in Debian stretch. Adding

[code]

to the `mailpile:` service in `docker-compose.yml` allows for it to be run.

I also liked the discussion in https://community.mailpile.is/t/running-mailpile-from-a-do

[2019-10-20 14:51] meda123 commented on #2032
Hi - may I please work on this issue?

[2019-10-24 16:11] BjarniRunar commented on #2195
This is at least in part resolved by my latest merge/push: Mailpile will now only import the UIDs matching the e-mail address you were interested in when you searched for a key. So if someone uses one key with 6 different e-mails, you'll have to import it 6 times for Mailpile to see the whole picture.

The way Mailpile converts keys with multiple UIDs to vcards is still problematic, but we should

[2019-10-24 16:16] BjarniRunar commented on #2156
This is better now.

Autocrypt will re-import keys if they've changed. The keytofu mechanism will also try to import new keys for a user if their key has expired; if it happens to get back the same key with an updated expiration date, that should work just fine.

I am not sure we need a manual re-import mechanism (power users can still interact with gpg directly), but I'll leave this open a bit lo

[2019-10-24 16:18] BjarniRunar commented on #1729
This is implemented as part of our Autocrypt support.

[2019-10-24 16:18] #1729 closed

[2019-10-24 16:20] BjarniRunar commented on #1647
Closing this due to inaction, there's no way for me to follow up on this.

[2019-10-24 16:20] #1647 closed

[2019-10-24 16:24] BjarniRunar commented on #1305
This works for replies. Still broken for forwarded mail.

[2019-10-24 16:27] BjarniRunar commented on #1901
This is no longer an issue, largely because GnuPG doesn't take forever to generate keys anymore.

[2019-10-24 16:27] #1901 closed

[2019-10-24 16:28] BjarniRunar commented on #1721
Note: The most basic such mode "always encrypt" has been a per-account option for a while now. This setting causes the app to put up speedbumps and complain if the user tries to send unencrypted mail.

[2019-10-24 16:39] BjarniRunar commented on #2129
I think this is working well, now. Please re-open or file a new issue if you still see problems.

[2019-10-24 16:39] #2129 closed

[2019-10-24 16:42] BjarniRunar commented on #1990
There were a whole bunch of bugs in the key import logic, which I've improved over the past few weeks. I'm optimistic I've fixed the flaws that would have caused this to happen.

Thanks again for filing this!

[2019-10-24 16:42] #1990 closed

[2019-10-24 16:44] BjarniRunar commented on #1552
WKS/WKD is supported, it is awesome.

Other things I've been actively removing - the user experience of keys coming from DNS was atrocious, and even the pros were failing to update/maintain their keys because DNS is just not an accessible data store for anyone.

Closing this issue, thank you for helping make Mailpile better! :-)

[2019-10-24 16:44] #1552 closed

[2019-10-24 16:50] BjarniRunar commented on #1421
I'm closing this issue, for now this is not on my TODO list. Thank you for filing it though!

This does mean we may miss some revocations - but the flip side is, automatic key refreshes have proven to be an attack vector, since the SKS keyserver pool is being actively poisoned. Mailpile users were not impacted precisely because we didn't automatically refresh our keys...

Autocrypt does a good job

[2019-10-24 16:50] #1421 closed

[2019-10-24 17:00] BjarniRunar commented on #1792
The force-display header is no longer so noisy. Box ticked!

[2019-10-24 17:07] BjarniRunar commented on #2239
Sorry about the delayed response, and thank you very much for filing this issue. It is indeed a dup of the same issue. We're slowly, slowly making progress getting through the Google verification process. I think we're on the 5th or 6th draft video we create to try and explain to them what the app is... :-)

Closing as a dup!

[2019-10-24 17:07] #2239 closed

[2019-10-24 17:09] BjarniRunar commented on #2032
@meda123 Sorry about the late reply - yes of course, that would be great! I try to hang out on #mailpille on Freenode (IRC). I recommend chatting with me there as you work on this, so you don't get stuck or lost in the code.

[2019-10-24 17:10] BjarniRunar commented on #1874
@Coronon Correct, thank you very much for the reminder.

[2019-10-24 17:10] #1874 closed

[2019-10-24 17:14] BjarniRunar commented on #2045
Hi @ahadmushir , sorry about the late reply!

I think the general case, that our responsive UI would benefit from some tweaks and more testing definitely still applies. Dragging my Mailpile window to different sizes does still show some glitches like those described above.

[2019-10-24 17:15] BjarniRunar commented on #2237
Thanks for the bug report and the script, @r3db3rry  :-)

Running in screen is our "official" solution, that is what both our own Apache integration and desktop wrappers use.

[2019-10-24 17:15] #2237 closed

[2019-10-24 17:17] BjarniRunar commented on #2230
Thanks @mardy for the valuable feedback and sorry about the very late response. I agree this could all be improved as you describe.

[2019-10-25 07:58] BjarniRunar commented on #2238
Good catch, thanks for reporting this! You're almost correct: the tooltip applies only to the "Automatic tagging" option, "Tag by Hand" should have a different tooltip.

I'll get this fixed.

[2019-10-25 08:03] BjarniRunar commented on #2235
Wow, that's interesting. Thanks!

[2019-10-25 08:03] #2235 closed

[2019-10-25 09:04] BjarniRunar commented on #1242
Thanks @Andrew-Wang-IB45, you are correct. This was fixed.

[2019-10-25 09:04] #1242 closed

[2019-10-25 09:05] BjarniRunar commented on #2229
@RenatoViana01 If you're still interested, of course! I recommend finding me on IRC (#mailpile, Freenode) so we can chat about this, there are some subtleties in how all this stuff fits together and our dev docs are not detailed enough to cover them.

[2019-10-25 09:11] BjarniRunar commented on #1560
See #1862 for more details (including screenshots) of how this currently misbehaves.

[2019-10-25 09:12] BjarniRunar commented on #1638
Thanks for filing this. However, I do believe it this is incorrect, Mailpile does not send all text as one line without CR/LF, except in edge cases where the line wrapping code things it's not allowed to wrap for some reason. In any case, this is probably just bad behaviour from the wrapper and I'm closing as a duplicate of those.

[2019-10-25 09:18] BjarniRunar commented on #2219
Thanks for the discussion, everyone. I'm closing this due to a lack of responses; all my testing indicates that this is behaving correctly. Please feel free to re-open if you disagree! :-)

Note that although Mailpile deletes from the server, it deliberately doesn't delete everything right away so other mail clients (e.g. mobile apps) have a chance to download the mail too, before it disappears.

[2019-10-25 09:18] #2219 closed

[2019-10-25 09:25] BjarniRunar commented on #1199
@OJFord There are a couple of subtleties here. One is that yes, Mailpile doesn't yet have a mode where it simply displays the contents of a .eml file. The other is that generally Mailpile is a long-running background process.

I think a good implementation of this would be a small tool which, when the user attempts to open a .eml file, spawns a new browser tab with a URL to the running Mailpile, t

[2019-10-28 20:00] gerroon opened #2241 "FR: Show extra time information"
Hi

It would be so nice if the user can see extra time/clock information about the sent or received emails. At the moment all I can see is day names or truncated dates which is not much precise if you will. I realize one can take a look at the source to see some extra info but that is not convenient when trying to judge the order of events and replies.

thanks

[2019-10-30 08:53] BjarniRunar commented on #1581
I think this is largely addressed: there is now a button in the web UI which opens the terminal in the browser, and the browser based terminal gives some hints to get people started. The CLI help still needs an overhaul, but there's a separate issue for that: #1942

Thank you for filing this!

[2019-10-30 08:53] #1581 closed

[2019-10-30 08:56] BjarniRunar commented on #1822
Relates to #1942.

[2019-10-30 09:05] BjarniRunar commented on #2241
Have you noticed that when you hover the mouse pointer over the "friendly time" the full time is in the tooltip? I'd rather not clutter up the search result view any further, so I think that will have to do until someone convinces me otherwise. :-)

I do agree that we should be showing the full time more prominently when you are reading a message though. Thank you for bringing this up!

[2019-10-30 15:34] gerroon commented on #2241
The tooltips are helpful for sure. I guess my point was more about being able to get a better idea about  the email chain as in the frequency of replies etc. That kind of thing is hard to grasp atm, we need a way to see all the time frequencies together. But I see your point about the UI.

[2019-10-30 15:44] BjarniRunar commented on #2241
Interesting, I understand better what you want now. Thanks for clarifying. I am not sure what a UI that communicates that would look like! If you have concrete proposals I'm happy to consider them.

Especially your interest in the timing of an entire conversation... we don't really have any view today that is dedicated to an overview over a conversation, so I think we'd need such a view before we

[2019-10-30 16:07] BjarniRunar commented on #2241
Adding a user preference to disable the "friendly dates" and use a bit more space for a full date + time would be a very minor change to the code. Would that cover it?

[2019-10-31 08:57] #2241 closed

[2019-10-31 14:03] gerroon commented on #2241
Hi

I just tested it and it seems to work, thanks for the addition.

[2019-11-07 20:24] JackDca commented on #2233
In addition to the above, the parameter `gpg_home`, stored in `mailpile.rc`, is an absolute file path. As a result, it appears that if `homedir` is moved, the new instance will continue to use the GnuPG keychain at the old location, which will cause problems. The title of this issue has been edited accordingly.

Note that the parameter `homedir`, also stored in `mailpile.rc`, is an absolute file p

[2019-11-09 08:38] DUENAIVE opened #2243 "How to use multi-user to log in with a mailbox"
How to use multi-user to log in with a mailbox

[2019-11-17 11:50] kostadinnm commented on #2222
Hello. I really like the effort you all guys put into this, but could we have a clearer instructions on how to set this up with gmail!? I have less secure apps on, as well as IMAP enabled. I also created an app password which seems to be accepted, but I cannot send mail at all.
Also, I noticed that when I remove an account(to start all over again), it doesn't clean the messages(I am using the rele

[2019-11-19 13:41] guettli opened #2244 "Plan to support JMAP?"
Is there a plan to support [JMAP](https://jmap.io/)?

More and more servers support it.

[2019-11-19 22:32] zencomplex commented on #2172
From [javascript.info](https://javascript.info/popup-windows#popup-blocking):

The javascript to open the OAuth2 popup is an onclick event, and as such, the popup will most likely not be blocked by most browsers.

[2019-11-19 22:33] zencomplex commented on #2172
Here's a reference for the same type of issue on the [facebook/react github](https://github.com/facebook/react/issues/1745#issuecomment-66366901)

[2019-11-20 09:50] syntonym commented on #2222
@Kostadin Hey Kostadin!

I think you might get more eyes if you post a new github issue or in the [support community forum](https://community.mailpile.is/c/support). This way also people not following this issue can chime in.

From your comment it seems that you can successfully receive mail with mailpile? That means your IMAP configuration (including giving access to "less secure apps") should be

[2019-11-20 10:04] Kostadin commented on #2222
@syntonym I think you indended to write to @kostadinnm instead of to @Kostadin
Here is the link so the message actually gets received:
https://github.com/mailpile/Mailpile/issues/2222#issuecomment-555927099
Cheers

[2019-11-20 10:55] syntonym commented on #2222
Sorry for the unneeded tagging and thanks for the correction! Weird that github autocomplete gives me your nick instead of the one that commented here in the issue.

@kostadinnm The above message is of course for you, not the user with the github nick Kostadin.

[2019-11-22 02:05] gerroon opened #2245 "Too much disk activity, over 30gb of reading in couple hours"
Hi
I am using git version under virtualenv on debian. I am very happy with this except that I see alot of cpu and disk activity.

I installed Mailpile last year and I have close to 6 gb of data inside the Mailpile user folder. I ran `iotop` for maybe 2 hours and I see that it read about 30 gb of data. Does not this sound wrong a bit? i mean it seems like it read the whole data over and over under

[2019-11-26 17:43] BjarniRunar commented on #2244
Not at the moment, no, due to a lack of resources and other priorities.

If someone were to step up and volunteer to do the work I would be happy to accept their pull requests and try to provide guidance though.

Thanks for asking!

[2019-11-26 17:43] #2244 closed

[2019-12-05 01:38] PowerScrypt commented on #2161
I see this issue is still open.  I am also getting a similar message and error as mentioned above.  I am connecting to outlook instead and not all of my messages are being downloaded.  Using mailpile-apache2

  File "/usr/lib/python2.7/dist-packages/mailpile/mail_source/__init__.py", line 1094, in run
    self.sync_mail()
  File "/usr/lib/python2.7/dist-packages/mailpile/mail_source/__init__.py",

[2019-12-08 23:33] RS357 commented on #2204
Hey, I'd like to work on the second tick box task - scanning text parts for URLs. Should we have a chat on IRC about how to go ahead with this? Cheers!

[2019-12-13 21:44] byaka commented on #2204
Think u can make one in discord or something and just link here :)

[2019-12-14 07:22] gerroon opened #2246 "FR: Show email count in the tags"
Hi

I personally think that being able to see the number of emails or rounded number of emails in the tag lines on the left could be very beneficial especially for things like TODO tags. So when you add TODO tag to an that would naturally increase the show emails in the tag. if no emails exists in the tag then there would be no number.

This could make Mailpile to be more of a productivity tool as

[2019-12-15 12:36] StefanKBa opened #2247 "Can no longer log into mailpile.."
I'm running mailpile with multiple users on raspbian with latest updates.
Since a few days, I can no longer log in. (I suspect file permission issues?)

[2019-12-16 18:38] StefanKBa commented on #2247
Fixed. Thank you.

[2019-12-16 18:38] #2247 closed

[2019-12-18 14:38] BjarniRunar commented on #2245
This is unsual, I think. I would be interested to know which files it is reading. You can also get a sense for what Mailpile is doing, by using the CLI (in a terminal, the web browser CLI is less functional still) and run the following:

    mailpile> set sys.debug = log
    mailpile> eventlog/watch
    ...

This will show a fair bit of output on the terminal, what sort of activities Mailpile is p

[2019-12-18 14:39] BjarniRunar commented on #2243
I do not understand this question. However, this isn't the right venue for general how-to support questions, please visit https://community.mailpile.is/ instead. :-)

[2019-12-18 14:39] #2243 closed

[2019-12-18 14:42] BjarniRunar commented on #2172
Well yes, it *shouldn't* be blocked. But we've had reports and seen cases where it was, because of nonstandard settings or security enhancing extensions.

Since the overlap between Mailpile users and users of security-enhancing extensions is relatively large, it makes sense to try and detect this state if possible.

[2019-12-18 14:47] BjarniRunar commented on #2161
Thanks for the reports.

It looks like we need to monkey-patch (or subclass) poplib. It might be worth checking whether Python 3's poplib has the same limitation, and if not backporting the fix (until we can move to Python 3 ourselves).

[2019-12-18 14:49] BjarniRunar commented on #2204
@RS357 Sure! Just join #mailpile and if I'm around we'll chat. But I must warn you, I'm often busy elsewhere so it may take a little while for us to sync up. If you leave your client connected you'll see my replies even if we don't manage to be online at the same time.

[2019-12-18 16:26] gerroon commented on #2245
Hi

THanks for the reply. I will check the logs and report back.

I also have alot of "local" emails in Mailpile. I am suspecting that it keeps going back to those.

[2019-12-20 01:48] gerroon commented on #2245
https://paste.debian.net/hidden/fc91ea38/

It seems to keep repeating those steps.

I let Iotop to log for an hour and it read about 3.5 gb and it was going up when I stopped Iotop.

[2019-12-29 20:39] bimac commented on #1408
Same here on rc6.

[2020-01-04 23:03] yurivict opened #2248 "1.0.0rc6 fails to build on FreeBSD: ERROR:root:Error parsing"
I tried to update the FreeBSD port but it failed:
[code]

[2020-01-07 07:36] intika commented on #160
:skull: RIP Python 2 ^^

[2020-01-07 13:44] intika commented on #2139
As @BjarniRunar mentioned this should not be exposed to the public nor running as root... but here is a working systemd implementation

[code]

[2020-01-08 11:55] BjarniRunar commented on #2139
@intika Thanks for this!

This is still a problematic approach though, because it gives the user no access to the Mailpile command line interface. The CLI is still pretty much required for troubleshooting and debugging.

The Apache integration wraps the running Mailpile in a screen session for that reason, so the user can log on and reattach. I expect the same could be done using systemd. Of cours

[2020-01-09 19:30] simmonspaul commented on #1912
Isolating the CSS / Theme adaptation seems like a good idea and would be appreciated.

eg. I can't modify the size of the left sidebar (or font sizes) so my account names are truncated.

Firefox 72.0.1
Docker image rroemhild/docker-mailpile 1.0.0rc5

Thanks

[2020-01-13 12:15] intika commented on #2139
@BjarniRunar what about the cli provided directly from the web interface ?

[2020-01-19 13:33] spinus commented on #1916
Is this issue addressed other way by any chance? Do anybody know a workaround to fetch/refresh emails?
For me this is really a blocker to use the software as it gives me wrong impression where there is no new email, but there is on the server.

[2020-02-21 13:13] jeroenlaylo commented on #2248
Mailpile isn't ready for Python 3 just yet; it should succeed on Python 2.7.

[2020-02-21 14:55] yurivict commented on #2248
Python 2.7 is EOLed.

[2020-02-21 15:09] jeroenlaylo commented on #2248
Yes. And effort is being made to migrate to v3, but there are some dependencies that that hold this back, as far as I know.

**Disclaimer:** I am not an official Mailpile dev, just an enthousiastic user (and currently tinkering a bit with it to see whether I can be of help in migrating to v3).

[2020-02-29 08:03] BjarniRunar commented on #1408
This is deliberate. It can be disabled from the preferences tab on the settings page if you prefer, look for the "Always BCC self" setting.

The reason Mailpile does this, is to allow other mail clients you may be using to see the messages you've sent. Someday Mailpile will learn how to copy sent mail to the IMAP Sent folder and this will become unnecessary.

[2020-02-29 08:03] #1408 closed

[2020-02-29 08:07] BjarniRunar commented on #1916
@spinus As mentioned above, in the Mailpile CLI you can type `rescan sources` to trigger a check ASAP.

If you have keyboard shortcuts enabled in the web UI (see Settings and Tools > Preferences), this is as simple as pressing 't' and then typing `rescan sources` and then hitting ESC to dismiss the web terminal. You can also click your way there: Settings and Tools > CLI.

[2020-03-04 19:52] #2248 closed

[2020-03-10 18:02] wbenfie commented on #2045
I would like to work on this issue if it is still available.

[2020-03-11 06:57] spinus commented on #1916
@BjarniRunar I appreciate this way.

I wonder why gmail, yahoo or outlook didn't figure this out, so easy. Should we let them know!?

Sorry for little sarcasm, but this thread also feels like that. That's only my opinion, but IMHO that function is no-brainer for adoption of the project. I wonder how many people thought this app is not working and just stopped looking at it more.

Is it expected be

[2020-04-01 13:52] chapagaiashim commented on #2229
How can I make that imap server?

[2020-04-04 06:08] Danissss opened #2249 "RDMS support?"
Hi, it seems like Mailpile doesn't use RDMS? May I ask how does it store and retrieve data?

[2020-04-05 17:28] Danissss opened #2250 "Failed to connect 587 and 995 (pop3s)"
Hi, thanks for the great program. I was trying to setup the mailbox, but the autoconfig can't connect to SMTP at 587 and pop3s at 995.

[code]

Here is nmap status
[code]

I am not sure whether it is caused by not running as root so mailpile can't start to listen port 587 and 995.

How do I configure Mailpile to listen these two ports (as non-root)?

OS: ubuntu 18.04
User: non-root
Web server: ngi

[2020-04-05 17:38] Danissss commented on #2250
I just realized that I need root to setup the mailpile.

[2020-04-07 23:23] JackDca commented on #2250
Hi Danisss,

It appears that you are expecting Mailpile to act as an SMTP/POP3 server. Mailpile is a client, not a server. It does not listen on port 587 or 995. Its function is to be a client, receiving incoming mail via an IMAP or POP3 server and sending outgoing mail via an SMTP server, while providing all the necessary composition, display, indexing, encryption and decryption. Hope that explai

[2020-04-09 03:53] Danissss commented on #2250
Thanks for clarification!

[2020-04-09 03:53] #2250 closed

[2020-04-09 03:53] #2249 closed

[2020-04-10 07:50] MartinK3 commented on #2161
Hello. Unfortunately same problem on Czech email provider Seznam.cz.

[2020-04-16 00:51] Danissss opened #2251 "Couldn't send mails"
Hi, I use postfix as my smtp server and letsencrypt as the certification agent.

I couldn't send the email because of `5.7.0 Must issue a STARTTLS command first (530 5.7.0 Must issue a STARTTLS command first)`

However, I checked the www.checktls.com, and my TLS confidence is 100 (no issue I assume?).

Here is the full trace-back:

[code]

I don't understand why it will look for smtp.sample.ca?

M

[2020-04-17 05:35] #2251 closed

[2020-04-17 16:32] Arnaudv6 commented on #1712
Same here: I'm a claws-mail user, wanted to view my html mails without resorting to CM html plugins.
Tried mailpipe but it fails there yet.

[2020-05-04 04:07] hudojnick opened #2253 "Installers"
Hello! When can I approximately download the installer other than Linux?

[2020-05-04 18:09] p073 commented on #2253
Installers for Windows and macOS are being worked on. No ETA as of now. But if you'd like to try Mailpile in the meantime, it isn't very hard to install it yourself and get it up and running :)

Are you using Windows, macOS or something different?

[2020-05-04 18:20] hudojnick commented on #2253
I have both macos and windows.

вт, 5 мая 2020 г., 00:09 p073 <notifications@github.com>:

[2020-05-05 07:59] p073 commented on #2253
This should work for Windows, haven't been able to test it myself due to the lack of a Windows machine: https://github.com/mailpile/Mailpile/wiki/Getting-started-on-Windows

[2020-05-05 08:27] hudojnick commented on #2253
As I understand it, installers for ordinary people will not appear soon?)

[2020-05-05 09:12] p073 commented on #2253
I can't answer that question as I am not a project member - just a user seeking to help other users. But in general, it is always wise to expect a "_it's done when it's done_" with open source projects. And heck, even beyond that ;)

[2020-05-11 05:13] olokos commented on #76
I wanted to fix this issue
https://github.com/syrusakbary/validate_email/issues/76
But sadly the issue is on another repo.

[2020-05-11 16:21] Badboy-16 opened #2255 "Typo in CONTRIBUTING.md"
There may be a typo in `CONTRIBUTING.md`.
Line 15
`Note that Mailpile is a slightly **unsual** app`

[2020-05-23 17:20] gerroon opened #2258 "FR: Add grouping display option to mail list panel"
Hi
It would be very helpful if the grouping and ordering also has a presence in the mail listing panel because that is sometimes needed alot daily, sometimes looking at individual emails sorted by date is more important to understand what is going on than conversation, sometimes the otherway around etc.

Please see the image for a mockup.

https://i.imgur.com/zkWT0nQ.png

thanks

[2020-05-26 06:57] #2255 closed

[2020-06-03 18:01] Lerrrtaste opened #2259 "Oauth2 for Gmail is broken"
The popup window says that the login is temporarily disabled. The option to allow insecure apps has been recently removed by Google.

Logging in via App-Password does work though.

[2020-06-16 09:40] qxtaiba commented on #2204
Is this issue still unresolved? Happy to work on it!

[2020-07-07 04:46] gerroon commented on #877
Sorry to bump this but I d onot get how this is achieved atm. I am trying to reun multiple Mailpiles on the same pc.

[2020-07-07 12:19] kubrikseu commented on #877
_Regardless of whether Mailpile is currently able to achieve this, you can easily achieve this yourself. For this, I am assuming you run Linux or Unix._

### Creating multiple users

Create multiple users for Mailpile, as much users as you want instances. Eg:

[code]

Make sure you have `tmux` installed and available to you. Login as the first user and start Mailpile:

[code]

You can detach the t

[2020-07-07 15:34] gerroon commented on #877
@kubrikseu  Thanks  for the answer and the help.

[2020-07-22 03:25] gregg00 commented on #1872
Looking at moving through thread, wanted to push my first open source commit!  Sorry if too quickly.  Thanks!  - Greg

[2020-07-25 14:24] Eothred commented on #1126
I see ownCloud already mentioned, but these days also Nextcloud should be mentioned separately I think (a fork of the former).

[2020-07-26 17:53] gregg00 commented on #1872
More code has been added for navigation within thread in commit https://github.com/mailpile/Mailpile/pull/2260/commits/ac6ec126f81eb56d4c3069ab511e28e2a46c554c there are still a few problems (ones I found listed in code)

[2020-07-26 19:34] gregg00 commented on #1801
I don't know how much about this, but I saw that the health_event in mailpile/plugins/core.py (HealthCheck function) was getting cached.  Does it make sense to remove the caching?  Could that be causing the corruption?

[2020-07-26 20:07] jgottfried opened #2261 "Thank you for the suggestion, but no."
Thank you for the suggestion, but no.

The notifications are an absolutely critical part of the UI. That's where we communicate about configuration problems, that's where the undo links show up for reverting tagging accidents, that's where we communicate about problems sending mail, etc. etc. etc.

I would happily consider an alternate implementation but until we have such a thing, notifications a

[2020-07-26 20:07] #2261 closed

[2020-07-26 20:08] jgottfried commented on #2261
Bah, this was an accident. Sorry for the noise.

[2020-07-29 03:13] gregg00 commented on #1812
How does one abort an upload?  I pressed "x" for the upload in the notifications window, but the upload still attached/did not effect whether part of file or entire file was attached.   The "send" "save" buttons also go gray while file is being uploaded.  Maybe it has been resolved?

[2020-07-29 10:09] zzeroo opened #2262 "Is there a password reset"
Hi I've installed mailpile from the latest master from 2020-07-27. On the first setup I've chosen a very strong password. Unfortunately I've lost access to my password manager now.

Is there a "official" way to recover the user data/ reset the user password? Or have I delete the user and recreate all new?

[2020-07-30 07:12] zzeroo commented on #2262
For the record. Password reset/ recovery without explicit backup before is not possible. If you lost your inital password before you made a backup you have to start from begin. Maybe the emails are not encrypted see `.local/share/Mailpile/default/`

A restart is made like this

[code]

Now go to the webinterface and perform the basic setup. Then under settings, backup your data (repeat this if you

[2020-07-30 07:12] #2262 closed

[2020-08-06 21:53] raspher commented on #2245
@gerroon paste removed, can you upload it to pastebin like service, without removing after some time?

// not found on archive.org

[2020-08-06 23:06] gerroon commented on #2245
@raspher

Sorry the paste is gone, I will try it again. I think I found the issue. Mailpile constantly scans the local emails (local emails from the file system ) And I have alot of archieved emails, I think that Mailpile keeps reading through those emails unnecesarily. Maybe it should stop indexing those once it has inspected them?

[2020-08-12 03:59] chrislaing commented on #2028
Hi @BjarniRunar, has any progress been made on this issue in the past two years?

[2020-08-12 15:58] yurivict opened #2263 "Mailpile isn't python-3 compatible, and python-2.7 is EOLed and is being removed"
The FreeBSD port has this notice in it:
[code]

The port is going to be removed because of this.

[2020-08-15 04:42] gerroon opened #2264 "Unindent error"
It seems like there is an unindent issue with the latest push.

[code]

[2020-08-25 13:07] zzeroo opened #2266 "Subject missing? smtp.ionos.de refuse to send mail"
Hi,

I use mailpile from the latest debian 10 repos. Mailpile version 1.0.0rc6.

My email provider Ionos from germany refuse to send mails from my mailpile instance.

## Example Mail
I copied this from the web view of the mail.

[code]

## Full error log
[code]

**What I noticed is that the RAW copy says "Subject: (Subject unavailable)"**. The IONOS help supports says the message may be wrong in t

[2020-08-25 13:55] zzeroo commented on #2263
See: https://github.com/mailpile/Mailpile/issues/160

[2020-08-26 10:18] BjarniRunar commented on #2264
Thank you for reporting this!

[2020-08-26 10:18] #2264 closed

[2020-09-08 16:47] Leopere opened #2267 "docker-compose up -d results in a failure to boot looking for missing tor binary."
[code]

[2020-09-16 23:23] zzulanas commented on #2074
is this issue still open? looking to get started with contributing and this looks doable

[2020-10-02 20:42] noahsburroughs commented on #1999
Is this an issue that's still in need of assistance?

[2020-10-03 07:30] oedbro commented on #2081
I'd love to take a crack at this

[2020-10-06 12:44] Leopere commented on #2267
Any chance of updates on this?  You'd somewhat expect that there would be an included tor binary or at least have tor in the docker-compose.yml by default because it's a dependency.

[2020-10-06 21:45] bjmgeek opened #2271 "setting up a separate sending and receiving account for the same email causes FIXME when sending"
I have a mail server which uses a different user/password for IMAP than for SMTP.   I created two accounts, one for sending and one for receiving.  Both use the same email address and pgp key.  One has a SMTP server set up (with TLS), and the other has an IMAP server set up.

Receiving email works.  However, when trying to send a message, I see `... FIXME ...` in the top of the browser window, and

[2020-10-11 21:25] JazzTp commented on #1721
@BjarniRunar

4. **Warn** (with a "DANGER" sign), and invite to check and confirm the chosen sending account, in case the user is answering/forwarding from another account than the one at which the email was received.

    **Warn**, and invite to check and confirm the chosen sending account, in case the received email was directed (or CC'ed) to more than one of the user's accounts (not BCC'ed of c

[2020-10-11 22:27] JazzTp commented on #1143
Hi,

I'm testing Mailpile because I'd like to fully switch to it and recommend it to quite a few persons I know who need exactly something like Mailpile (I've actually spent a few days on a possible basic post-installation tutorial for them, but now I must admit that I need to clarify a few things to myself).

My **workflow in Thunderbird:**

- configured for IMAP (not POP3 because I might occasio

[2020-10-11 23:16] JazzTp commented on #1066
Copy&paste would still be allowed I guess... how would you prevent it anyway? Or a screenshot being taken?
A journalist might want to quote "anonymous sources...".

You are _always_ trusting somehow the person to whom you send anything, or otherwise limiting what you send to that person or modifying the form in which you send, e.g. allusions and questions instead of plain statements affirming thin

[2020-10-11 23:45] JazzTp opened #2272 "IMAP. Needing a second email to arrive into the remote inbox with Mailpile running, for the first pre-existent email to also show up in Mailpile"
Mailpile 1.0 rc6, Ubuntu Linux 18.04.5

IMAP, totally empty remote inbox folder.

- With Mailpile _not_ running:
    + I launch Thunderbird
    + I send one email to that address, and in a few seconds it appears in Thunderbird's remote inbox folder.

       Both the following points seem to be irrelevant:
    + I don't click on it, meaning it remains unread
    + I close Thunderbird

- I launch Ma

[2020-10-12 01:04] JazzTp opened #2273 "If keys are not found, Mailpile not allowing to send even an unencrypted unsigned email to account with associated key."
**Mailpile 1.0 rc6, Linux Ubuntu 18.04.5**

I'm trying to send an *unencrypted* and *unsigned* email (triple checked no green switches active) to an account which has been associated with a PGP key (same address as the sending one actually, I doubt that matters), but the key is not available ATM (*).

I'm getting this error message:

**"No Keys Here!
Encryption keys can be created during the accou

[2020-10-12 02:12] JazzTp commented on #2273
**SYNTHESIS of what follows: if you want to keep secret keys stored apart unless necessary, leave at least their PUBLIC part available in the keyring for Mailpile.**

-----

I had reproduced the issue reported above three times before submitting.

**SURPRISE: new session, I can't reproduce it now => Closing.**

What's happening now:

No complain if I send unencrypted unsigned emails in case the PU

[2020-10-12 02:12] #2273 closed

[2020-10-14 05:15] JazzTp commented on #2272
Nope, minutes ago it was happening with 2 messages in the remote inbox, Mailpile was not showing them, Thunderbird was.

I sent an email to that inbox (this time from Mailpile but before opening this issue I had done it from Thunderbird) and immediately Mailpile was showing the 3 messages.

[2020-10-16 02:29] JazzTp commented on #2272
I see that it's not always happening, sometimes Mailpile shows just the same messages that Thunderbird sees in the remote folder, but I can't figure out what might change when it's OK vs. when it's not.

Always, so far, when Mailpile was not showing the new emails arrived into the remote inbox, the arrival of a new one made it show them all.

[2020-10-16 03:48] JazzTp commented on #945
There could be **two separate settings:**

- **Allow deletion of emails from servers**
- **Allow deletion of emails from local storage**

Actually the first one could be moved to the settings of each account
Unless it is the option which is *already* in the "Incoming Mail" settings of each account, the checkbox labeled **"Leave mail on server"**...?

(I was rather believing that it means "don't re

[2020-10-20 03:58] JazzTp commented on #2222
Vivaldi.net works with Mailpile

(although _sometimes_ new emails were not showing up while they did appear in Thunderbird... any new incoming mail made them all appear in Mailpile as well immediately... I can't figure out what changes when that happens vs. when everything is just fine)

Posteo.de ok with Mailpile apparently but not free (and the limit of 50 mails per hour, not a monthly or weekly

[2020-10-20 05:29] JazzTp commented on #2222
**Thank you.** Mailpile is working great copying from my GMail account, and deleting rubbish is much faster via Mailpile's CLI than via GMail's webmail interface :D

**I only had to generate an app password, change Mailpile's settings from oauth to password and paste in that app password.**

(I do have 2FA active on that account, but I wasn't required to use Google Authenticator, instead I was ask

[2020-10-21 14:15] JackDca commented on #2272
My Mailpile instance connects to and checks each IMAP server only at 5 minute intervals. This is set by the config parameter `interval` (`sources/-source id--/interval`) which defaults to 300 s. There's also a `keepalive` parameter which (in my Mailpile version) defaults to `false`. The `keepalive` parameter allows Mailpile to keep a connection open to the IMAP server so the server can push emails

[2020-10-21 15:33] JackDca commented on #2271
Possibly the configuration could be modified so that different passwords could be used for IMAP (receiving) and SMTP (sending) without using different accounts. The Mailpile account setup `Sending Mail` and `Receiving Mail` dialogues already provide distinct `Host name`, `Username`, and `Authentication` (type) fields for each function. (Go to `Home`-`Email Accounts` and click on one of the up arro

[2020-10-21 15:57] bjmgeek commented on #2271
It's a personal mail server.   I was just testing.

On Wed, Oct 21, 2020 at 11:34 AM Jack Dodds <notifications@github.com>
wrote:

[2020-10-21 18:24] JazzTp commented on #2272
@JackDca

Thank you a lot for all the information.

I'm using v1.0.0rc6 on Ubuntu Linux 18.04.5, I didn't modify the interval or keepalive.

I'm vigilant but the issue hasn't happened in days. (I've realized that when it was happening I should have checked the Network log and the all events log, I'm starting to think that it might have triggered an error on the server side which they might have fi

[2020-10-22 22:06] JackDca commented on #2272
--- How do you access and modify the interval and keepalive settings? ---

I put some comments at

https://community.mailpile.is/t/hints-for-developers/562

[2020-10-23 16:50] JazzTp commented on #2272
Thank you!

It's happening right now.
Thunderbird is showing me an email that is not showing up in Mailpile.

No interesting info in the Event Log or Network Activity, I only see lines like these:
[code]

Again, I've tried using in Mailpile the older settings which Vivaldi autoconfig server was giving, port 143 instead of 993, same problem.

With both port numbers:

Instead of IMAP/TLS, I've tried

[2020-10-23 17:48] JazzTp commented on #2272
I've used your page (great).

I've checked the dumped config file, by default the lines with keepalive = False and interval = 300 are - I believe - commented out with ';' and a note says:

[code]

For that account, I set keepalive = False and interval = 300, then dumped the config file again and verified the changes had been saved, then logged out shut down and restarted and logged in.

Unfortunat

[2020-10-23 19:10] JazzTp opened #2274 "Occasionally "Unverified signature" in Thunderbird - "VERIFIED" in Mailpile."
If anybody wants to look into it, I can export from Mailpile and from Thunderbird and send _privately_ this email.

**Example** of what happens:

- I've sent an email to a correspondent from Mailpile.
- I realize that I've forgotten the attachment I mention in the email body, so I choose "reply" to send him another email _with_ the attachment
- I check out the BCC sent from *Mailpile* accessing th

[2020-10-24 00:52] JazzTp commented on #2272
And voilà two other mails arrived into that account and the three of them now appear in Mailpile.

[2020-10-26 07:14] JazzTp commented on #2272
@JackDca

Actually, surprisingly, now every 7-16 seconds I was reading in the notifications "Checking for new mailboxes"... "Processed 1 mailboxes", and occasionally after the first notification I read something like: "Copying up to 112 emails" but no new emails appeared, and/or "Updating search engine for Trash.accountname".

I guess I could have used the unset command to reset those two settings

[2020-10-26 16:22] JazzTp commented on #2272
I also retook the Mailpile folder copy from before removing that account, and _instead_ I added a second source to it, disabling the first one. So, if/when the issue happens again, I'll have different Mailpile folders to test (kind of chasing butterflies admittedly).

(Actually, in both cases the new source appears in the sidebar as a new tag named same@account.name.2, but I do not lose the previo

[2020-10-26 20:32] JackDca commented on #2272
Sorry, I can't make sense of these symptoms. I will say that in my installation, the "Checking for new mailboxes" shows up only once for each mail source in each 300 second `interval` and the "copying up to nnn emails" only happens when new (previously unseen) email(s) are present. Could it be that some kind of error condition is happening so that Mailpile is aborting its attempt to access the IMA

[2020-10-27 16:38] JazzTp commented on #2272
@JackDca
Thank you, no problem, I'm checking out what happens with this second source activated instead of the first one, all right so far.

**Please check out the question at the bottom of my previous message**, I don't need an answer but you might want to review your note for developers.

[2020-10-29 00:08] JazzTp commented on #2274
I've got two other mails like that. (Maybe it's more likely when there are attachments.)

[2020-10-29 04:28] JazzTp commented on #2274
So, I'm sending with Mailpile and checking that Thunderbird-Enigmail decrypt and verify the signature.

One situation in which the problem is happening systematically, I can repeat as will:

- I'm **forwarding** an email with some text and its few small attachments (I'm not adding any, adding an attachment wasn't changing the outcome anyway):

  - html body: 23 lines, 16620 bytes (saved then piped

[2020-10-29 19:57] JazzTp commented on #2274
No need to test forwarding apparently, a simple "reply" with no attachment, if signed but not encrypted, can also give the same problem: unverified signature in Thunderbird, OK in Mailpile.

From Thunderbird to Mailpile: no problems so far (I haven't tested again changing to inline PGP, I did that weeks ago and it was OK apparently, I'm in a bit of a rush not attending for too many important thing

[2020-10-30 03:05] Jagroop-Singh commented on #1993
Is this open or closed? It sounds like noahhaasis has already solved the issue and closed it, and somehow it reopened?

[2020-10-30 03:06] Jagroop-Singh commented on #1993
@BjarniRunar

[2020-11-03 01:22] JazzTp commented on #2272
Apparently, creating the new source and disabling the previous one solved the problem.

I see that settings for the two sources are identical, except of course:

- enabled = False or True
- the two settings that I had modified in the first source, to check if that would solve the issue:
    + interval = 300
    + keepalive = False

As I wouldn't be able to replicate the creation of a malfunctionin

[2020-11-03 01:23] JazzTp commented on #2272
P.S.: @JackDca  Thank you again.

[2020-11-08 19:05] JazzTp commented on #2272
It has happened again, same account.

(Right when I was finally overall happy, yesterday I unchecked "Leave mail on server" and "send BCC to myself", I was going to definitely encrypt and compress the Thunderbird tree. It's the single _real_ issue to me.)

[2020-11-08 22:32] JazzTp commented on #2272
On second thought: that account is by far the one where I receive most e-mails with that provider, it could be the only reason why I had the issue on it and not on others.

[2020-11-11 05:25] suliuzh opened #2275 "should biplist be listed as dependency"
Hi
I am wondering if biplist should be listed in setup.py or requirements,txt?
As we can see, **biplist** is used in packages/macos/dmgbuild-settings.py as a must. So should biplist be listed as dependency?
![image](https://user-images.githubusercontent.com/27858725/98772217-29e00500-2421-11eb-95b6-0cb498914803.png)

[2020-11-11 22:04] darkuranium commented on #160
Any news on this? Python2's been EOL for nearly a year by now.

[2020-11-12 00:02] JazzTp commented on #2272
## POSSIBLY A WORKAROUND

Reminder:

- Sometimes I'm seeing via Thunderbird that I have new incoming emails in the remote inbox folder which are not appearing in Mailpile.
- I posted 16 days ago that I added a second source in Mailpile for that account, disabling the first one.

Now, when I see no new emails into that account:

- I edit its settings in Mailpile
  - I disable the source which is cu

[2020-11-12 16:32] bjmgeek commented on #160
It works for me on PyPy 3
Python 3.6.9 (7.3.2+dfsg-2, Sep 26 2020, 23:01:23)
[PyPy 7.3.2 with GCC 10.2.0]

The only thing was thet requirements.txt included pydns but for python3 it needs to be py3dns

[2020-11-12 18:55] BjarniRunar commented on #160
Thank you for reporting that, @bjmgeek !  We had done a bunch of prep work, but actually testing it never happened. It's really heartening to hear this, makes the whole thing seem much less daunting.

[2020-11-16 21:42] bjmgeek commented on #160
It doesn't pass unit tests though.  pydns being one sticking point.

[2020-11-18 08:59] dashohoxha commented on #1063
This related issue has been closed: https://github.com/mailpile/Mailpile/issues/52 So, maybe this one should be closed too.
It is not clear the reason for closing that issue, but I think that LDAP Auth usually is implemented on a mailserver (SMTP/IMAP/POP), while Mailpile is just a mail client, not a mail server. So, maybe LDAP Auth doesn't make sense, unless you want to use a single Mailpile inst

[2020-11-28 13:26] mnahinkhan opened #2276 "virtualenv installation method can result in "no such file or directory" error, if working on a directory with space characters"
I am working from a terminal on Mac. I run the following after cloning the project:
[code]

This results in an error if the directory one is working in involves spaces. ("No such file or directory: " followed by a prefix of the directory without spaces).

Thankfully, there is a simple fix; before calling the "mailpile" command I went to ./mp-virtualenv/bin/python directory, and edited the 'mailpil

[2020-11-28 13:49] #2276 closed

[2020-11-28 14:30] greenpark-code commented on #2050
Hi everybody,

**Did this fix make it into Mailpile 1.0.0rc6? I can't find any such setting.**

(I do actually have the same problem with an important email, although luckily I was able to open it once just after it arrived and I decided to export the email source code to check out how it would get rendered in Thunderbird, this email includes various pictures grouped in sections under subtitles.)

[2020-12-01 14:32] stefanb0305 commented on #2080
Me and two of my colleagues will try to solve this issue in the coming week

[2020-12-03 07:25] HT-Moh opened #2277 "Message not loading"
Email not loading  Invalid date range: dates:1591282850..1606834850
[code]

[2020-12-07 00:18] stefanb0305 commented on #2080
I am following the steps from below and have successfully fixed the bug in the frontend (updated the template). However, I cannot figure out exactly what to add in the `Add Profile` class. I was thinking of adding the following to `_update_vcard_from_post` after line 1217:
[code]
Currently this seems to prevent a client from making any new account, although I do not see why. Any help would be appr

[2020-12-13 10:29] raboof commented on #160
on master? I tried running master with python3 but that immediately produced errors - I tried to stumble through fixing some of those in https://github.com/mailpile/Mailpile/compare/master...raboof:python3 (but be aware I don't actually know python ;) ) - is there some other trick I'm missing?

[2020-12-28 21:17] Trilis29 opened #2281 "Failed to fetch certificate"
[code]

I am getting this error, I can't connect to imap server. Tried all the ports, tried SSL and non-SSL nothing works. What is the problem?

[2021-01-07 13:10] jeroenops commented on #2281
Dovecot refuses to work because your `Diffie Hellman`d parameters are too small. I suspect you are running on an installation that formerly ran EasyEngine?

**Fixing it is relatively easy:**

First, search for the configfile that defines the DH parameters:

[code]

For these examples, I am going to assume your SSL settings are defined in `/etc/dovecot/conf.d/ssl.conf` and the DH params are stored

[2021-01-07 13:16] jeroenops commented on #2281
The error you are getting means the IMAP server has a poor TLS configuration. In particular, your installation refuses to connect because the Diffie Hellman parameters are lower than what your OS expects.

Are you the admin of the mailserver in question? If that is affirmative, it can relatively easy be fixed by making sure the IMAP server (Dovecot?) has access to stronger DH params (eg: `openssl

[2021-01-07 21:34] Trilis29 commented on #2281
I m the admin, planning to run webserver on vps and loose provider. How can I fix it?

[2021-01-12 14:49] reyman commented on #160
I'm also interested by an answer on this @BjarniRunar @bjmgeek ? There is only py3dns that blocks ?

[2021-01-12 15:01] reyman commented on #2223
As Mailpile is the only self-hosted web client that support GPG encryption with fast searching, i don't understand why there are so few sponsor ? :-/ Is there some plan to relaunch a kick/indiegogo campaign ? Devs. need to be paid for the works, especially i suppose for huge and complex project like Mailpile ... Other FOSS project take the path of Patreon/Git Sponsoring/Donation/etc ( git-annex, p

[2021-01-12 15:22] JackDca commented on #2233
On careful examination, most or all of the information in the `pickled-mailbox*` files is redundant. Message locations given in these files are also defined in the [Metadata Index](https://github.com/mailpile/Mailpile/wiki/Data-structures:-Metadata-index) and `mailpile.cfg`. The Metadata Index location pointer (field 2) contains the file name and a pointer to a `mailpile.cfg` parameter` config/sou

[2021-01-14 09:48] scouseman opened #2282 "Delete Emails from server"
My mail pile seems to be very random when it deletes emails off my mail server, sometimes it deletes and sometimes it doesn't.
I have disabled the 'leave on server' option.
Is there any other requirements for mailpile to delete the emails off my server after it has downloaded them?
Cheers

[2021-01-15 19:35] ngeshlew opened #2283 "Design contribution"
Hey, would love to be part of this. I'm a Product Designer and would love to pay it forward by contributing to the movement using my design skills. Please let me know how. Thanks! 🙌🏽

[2021-02-01 15:56] JackDca opened #2284 "Mailpile password not accepted after system upgrade"
**Symptoms:**

My "production" Mailpile has been running on my old Debian Stretch system for years. I recently created a new Debian Buster system (not a dist-upgrade). I made sure that the user numbers in the new Buster`/etc/passwd` matched the ones in the old Stretch system. Then I copied my entire home directory, including the Mailpile program directory and homedir, from the old system disk imag

[2021-02-01 21:26] JackDca commented on #2284
I just reread #2038 Broken locale causes invalid password? which also involved moving the workdir to another environment. Could this actually be caused by the same problem that is reported here, not the "broken locale"?

[2021-02-04 05:51] sudheerds opened #2285 "Unable to install on Ubuntu 20"
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve the situation:

The following packages have unmet dependencies:
 mailpile : Depends: spambayes but it is not installable

[2021-02-18 11:01] h3artbl33d commented on #2284
Does the console of your browser (assuming you use Mailpile through the web interface) throw any errors?

[2021-02-18 14:47] JackDca commented on #2284
Good question, I didn't think to look. I now am no longer in a position to reproduce the problem.

However, as mentioned above, the CLI login command also gave an error. (I have edited my original post to clarify this.) So I don't think it's the web interface.

[2021-02-22 18:15] kawara417 commented on #1812
@BjarniRunar could I take this issue?

[2021-02-22 20:15] h3artbl33d commented on #2284
Ah, right. I had a login issue with a proxied instance (nginx reverse proxy), due to some internal changes in recent Chromium versions. But that is unrelated if you had the error in the CLI as well.

As to the issue itself, I am curious to what caused it. I agree that an upgraded dependency (whether a Python module or something like GPG/OpenSSL) is likely. But right now, it is merely guesswork.

[2021-03-05 16:10] JackDca opened #2287 "Message not found - location pointers lost from Metadata index"
I am experiencing some problems as described below and would like to determine if this is isolated to my Maipile instance or if others have seen the same symptoms.

My "production" Mailpile instance is from Github master, runs on Debian Stretch, indexes 60,000+ messages and receives incoming messages from three IMAP servers. Normally it runs 24 hours a day for weeks or months at a time.

### Sympt

[2021-03-11 11:26] JocelynDelalande commented on #2287
Long time I did not used Mailpile, but I did have the exact same symptoms. Can remember for sure if the messages got deleted from imap, but I don't think so.

I cannot remember if I was able to recover them with a full rescan, but I think that no, and anyway, the bug was too frequent and the rescan too long for that use.

[2021-03-11 15:53] JackDca commented on #2287
Thanks for the comments @JocelynDelalande.

I can't figure out what could cause this problem. But, I've added some code to `search.py` which will do a traceback.print_stack() when an entry is written to INDEX that has a snippet but no file pointer. I'm redirecting all the stderr output to a file. If the problem happens again I'll have a lot more to work with than I do now. Could take months though

[2021-03-18 20:45] JackDca commented on #2284
Further details:

For unrelated reasons, I wanted to restore and work with an old backup of my production Mailpile `homedir`, one which preceded the password update and upgrade to Buster described above. I was no longer able to boot my old Stretch system.

I restored the old `homedir` backup to a directory on my new Buster system, ran Mailpile on the restored `homedir` and tried to log in with the

[2021-03-29 06:55] odysseus654 commented on #2259
In case you haven't heard from other places by now, it looks like Google has been heavily restricting use of OAuth to apps they have explicitly reviewed and approved.  In addition, it's extremely unlikely an open-source project would be permitted access; if nothing more the need to embed the approving signature somewhere has disqualified other projects from participating.

So yes, app-specific pas

[2021-04-05 15:47] JackDca commented on #2287
Bingo! The problem occurred again (actually on 2021-03- but I've only now had time to look at the results). I had added code to do a traceback when a metadata entry was written with a blank location but a non-trivial "snippet'.  This produced about  20000 tracebacks which all look like this:

[code]
The decision to delete the location is made in mailpile.search.scan_mailbox() in this code:
[code]

[2021-05-02 21:05] Eggo-Plant opened #2288 "How to import existing GPG keypair"
I'm having trouble figuring out what directory that Mailpile reads gpg keypairs from. Is it possible to import my own gpg keys?

[2021-05-03 06:28] h3artbl33d commented on #2288
Yes, you can import your own GPG key. There are two routes on how Mailpile handles GPG keys:

* Using the system GnuPG; I believe this is the default.
* Using an internal library, which can be set through the Mailpile settings.

You want to use a keypair corresponding to a mail account you have setup in Mailpile?

[2021-05-03 09:05] alerque commented on #160
Every time I setup a new server with webmail I come around to see if Mailpile has ditched Python 2 yet. I so want to love this project, but it needs a refresh.

[2021-05-04 00:52] Eggo-Plant commented on #2288
What I'm trying to do is import my own gpg key that I generated outside of mailpile.

[2021-05-15 05:51] Oymate commented on #2285
`Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve the situation:

The following packages have unmet dependencies.
 mailpile : Depends: spambayes but it is not installable

[2021-06-16 15:30] JackDca commented on #2287
Update: The problem occurred again on 2021-06-03. Once again I shut down, saved the homedir, restarted and ran `rescan all` which appeared to recover all the emails (though have not proved that).

This time debug code produced some useful information. Debug information was printed from `search.py` function `scan_mailbox` whenever Mailpile deleted a message location pointer for a message that had `

[2021-06-29 11:51] yuluc1234 opened #2289 "Is lockfile a unused dependency?"
Hi
There seems to be no code in the source code that uses "lockfile". But in “requirements-with-deps.txt”, "lockfile" is still listed as a dependency.
The following commit removed "import lockfile"  in "mailpile/spambayes/safepickle.py ".
[Switch to using existing dependancy "fasteners" for locking](https://github.com/mailpile/Mailpile/commit/e89fb55fe42928be7e945c4baa200207145788fd)
So should it

[2021-06-30 15:31] edo0 commented on #2288
@Eggo-Plant  You need to import it in you system GnuPG, from which Mailpile will take it up automatically
[https://unix.stackexchange.com/questions/184947/how-to-import-secret-gpg-key-copied-from-one-machine-to-another](https://unix.stackexchange.com/questions/184947/how-to-import-secret-gpg-key-copied-from-one-machine-to-another)

[2021-07-17 14:21] JackDca commented on #2287
Update:

I inserted a statement at line 557 of search.py so that the code that deletes message location pointers is skipped if the `mbox` is zero length (which can't be correct). I've run Mailpile for one month and the "Message not found" problem has not occurred in that time so the kludgy fix is likely working (though I've gone for more than a month between "Message not found" occurrences before)

[2021-07-19 21:20] OJFord opened #2290 "Cannot add mail spool source"
If I add a new account with 'receiving mail' set to 'mail spool', the modal closes and no account is created.

If I add a 'mail spool' source to an existing account (e.g. with 'local files' option), after saving and reopening the modal to edit again, the source has disappeared.

There is no error (in GUI nor docker logs), and this happens with or without mail in /var[/spool]/mail.

[2021-07-27 19:15] zidingz opened #2291 "Trying to get in touch regarding a security issue"
Hi there,

I couldn't find a `SECURITY.md` in your repository and am not sure how to best contact you privately to disclose a security issue.

Can you add a `SECURITY.md` file with an e-mail to your repository, so that our system can send you the vulnerability details? GitHub suggests that a [security policy](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your

[2021-08-22 19:44] pisn commented on #2285
I have just installed in Ubuntu 20.04 LTS using the requirements-dev.txt requirements and it is working normally. Only problem I had during setup was with PyCrypto, but I could solve installing these packages:

sudo apt-get install build-essential libssl-dev libffi-dev python-dev

(Only for the record, solved it by following the instructions from these StackOverflow answer: https://stackoverflow.c

[2021-08-23 14:20] pybash1 commented on #2204
@BjarniRunar Can I start work on task 4 of this issue?

Task 4:

[2021-08-28 21:47] pisn opened #2293 "Message repetition when allowing image downloading"
Hello everyone,

I am new to the project, and while exploring and debugging I came across a previously undescribed bug:

When the message has inline images to be downloaded and Mailpile asks if it is ok to display the messages. When you click "Okay, display the images" more than once, the body of the message gets repeated. If you keep clicking, it repeats indefinitely:

After one clicks:

![imagem

[2021-08-29 14:43] Vilayat-Ali commented on #2080
I would like to contribute to this open-source project so someone can please guide me through the code structure and the bug?

[2021-08-31 07:58] ritvikagrawal1 commented on #637
i'd like to try and pick it up @bnvk

[2021-08-31 17:19] angerangel commented on #2285
I confirm mailpile can't Install on Linux Mint 20  (It's Ubuntu focal).
I get the same error:

[code]

[2021-09-01 20:14] Mydherin opened #2294 "Gmail blocks Mailpile"
Hi everyone,

I am really interested on using mailpile but i can not introduce my gmail account on MailPile.

I am using Mailpile 1.0.0rc6.

My Gmail configs:

![2](https://user-images.githubusercontent.com/88291577/131737203-6decc3b0-5437-467e-9247-7b5408cde96b.PNG)

![3](https://user-images.githubusercontent.com/88291577/131737275-5bc5f028-9c83-4d51-be21-56252bb3864d.PNG)

Finally, I need to aut

[2021-09-01 21:44] angerangel commented on #2285
Why don't you create a snap package? It's indipendent from distribution and version and it would resolve all Python 2 dependencies.

[2021-09-02 00:25] pisn commented on #2294
Hello Mydherin!

I started to debug mailpile using a gmail account no more than two weeks ago. I had the same problem you had and could not manage to make it work using OAuth2 authentication. Only way it worked was generating an app password and using Password authentication.

This page teaches you how to generate the password: https://support.google.com/mail/answer/185833?hl=en

[2021-09-02 07:26] angerangel commented on #2285
ok works! Thank you!

[2021-09-02 18:37] Mydherin commented on #2294
Thanks pisn, it works for me. I do not know why OAuth2 authentication is not working. I will close this issue.

[2021-09-02 18:37] #2294 closed

[2021-09-16 03:30] ghost opened #2297 "Tor cannot be enabled"
**Security and Privacy Settings > Networking Privacy > Enable Tor** gives "Failed: setup/tor" error
**Troubleshoot recent Network Activity** shows successful connection to 127.0.0.1:9050, with the error:
"Failed to connect to clgs64523yi2bkhz.onion:80: Tor error, general SOCKS server failure" showing next

clgs64523yi2bkhz.onion is a Tor v2 onion service and v2 onion services are now deprecated an

[2021-09-16 12:16] DemiMarie commented on #1314
So one approach here would be to use the `gpg2` CLI with split-gpg2.  `gpg2` will then use gpg-agent under the hood.

[2021-09-18 14:42] Oymate commented on #2285
@pisn Will you make a PR based on those steps

[2021-09-18 17:40] pisn commented on #2285
Hello @Oymate ! I am not sure this is necessary, since the steps are already described at [Getting Started on Linux](https://github.com/mailpile/Mailpile/wiki/Getting-started-on-Linux) session on the project wiki.

[2021-10-13 17:32] DEV696 opened #2298 "Vulnerability in https://demo.mailpile.is/C/auth/login/"
I have identified a session fixation vulnerability, below is the steps to reproduce:

Step 1: Browse the application https://demo.mailpile.is/C/auth/login/ in any browser and intercept the request over proxy.
Step 2: Now observe the cookie "Cookie: 8MQqWfxkHjuN=YP9UgMJ7cCpfkxdL3fZkoEKBIIUFPjMq"
Step 3: Now login into the application and again intercept the request of an authenticated page.
Step 4:

[2021-10-17 19:53] ArthurHDRodrigues opened #2299 "Improve output of terminal commands"
I didn't find any issue addressing this, I noticed that some commands return raw json instead of a nice formatted text. I tested all the commands listed using `help` and found out `health` and `eventlog` do this. (Is there any other that I could have missed?)

So I guess that improving their output would improve the terminal user's experience.

I intend to work on it

[2021-10-17 19:55] ooojpeg commented on #2275
@suliuzh I've added this to the dev requirements.txt as it looks like this is a dependency only used when building packages not for production.

[2021-10-19 03:12] bai-yi-bai commented on #2207
I am experiencing the same issue. I ran mailpile in a docker container. It seems it timed out and I had to restart a couple times. I am missing accounts from the /profiles/" Welcome Home" "E-mail Accounts" page. The email accounts appear, but there is no way to remove them from the system. It took a considerable amount of time to set up all my accounts. Is there a way remove the accounts via the c

[2021-10-19 07:37] DEV696 commented on #2298
Hi Mailpile team,

Can you please share an update on this ?

[2021-11-10 05:51] bronger commented on #2234
Isn’t it even much worse? You don’t only need a Transifex account, you need a membership in the Mailpile team at Transifex.  The translations are locked away currently.

[2021-11-10 05:53] bronger commented on #2234
I think the best solution is to copy the po files into the source tree, eventually using an automated process. The trouble that this may cause can be dealt with. This is what I know from other projects.

[2021-11-11 06:08] dngray opened #2302 "Update .onion URL to HSv3 link."
I was updating some links on privacyguides.org and noticed your old HSv2 clgs64523yi2bkhz.onion

This should really be updated to a HSv3 as HSv2 support is [due to be dropped from Tor shortly](https://blog.torproject.org/v2-deprecation-timeline).

At the same time should use the Alt-Svc tag to upgrade your connections to the website if Tor is used: https://medium.com/privacyguides/securing-service

[2021-11-22 10:22] bai-yi-bai opened #2303 "More than 14 email accounts -cannot select "Choose sending account""
I discovered today that I cannot select the "top" or first account alphabetically from the compose message/draft screen. I have more than 20 email accounts defined, but only 14 will display. There is no way to scroll up, the only way I was able to select the email account I wanted to send a message from was to use the HTML inspector and delete a bunch of nodes before I could click on one. This is

[2021-11-29 03:21] jinhe141 commented on #1903
Hey, would love to work on this if it's still needed!

[2021-12-03 17:31] DEV696 commented on #2298
Can someone please share any progress on this ?

[2022-01-18 21:59] DerfOh commented on #2222
Less secure apps workaround breaks when you enable 2factor on your google account (both are exclusive to the other)

Any chance this issue could get more attention?

[2022-01-27 12:09] BjarniRunar commented on #2298
Thank you for reporting this. However, I do not believe this is a real vulnerability.

If you are in a position to intercept the cookie or inject the Javascript necessary to exploit this, you may as well just steal the user's passphrase.

Please feel free to correct me if you actually have a working exploit. Thanks!

[2022-01-27 12:09] #2298 closed

[2022-02-07 07:54] gnh1201 commented on #2207
I am experiencing the same issue, too.

Maybe, I think this is putting the account on the list after the mail download is completed at the initial setting. BUT WHY? Doing this poses a risk of account registration not being completed normally.

I think all work related to the account should be completed before the mail is downloaded.

[2022-02-16 07:55] suliuzh commented on #2275
Thanks for  your nice reply.
It seems that there are other requirements that are not declared?

- PySide
https://github.com/mailpile/Mailpile/blob/c9bd0018e7ef16bbc2e417f54e4ff3624767c5e6/scripts/mailpile-pyside.py#L8

- email
https://github.com/mailpile/Mailpile/blob/c9bd0018e7ef16bbc2e417f54e4ff3624767c5e6/mailpile/plugins/compose.py#L2

[2022-03-10 15:53] JackDca opened #2309 "Upgrade to Debian 11 Bullseye broke Mailpile"
I recently upgraded my OS to Debian 11 Bullseye. This broke Mailpile. It appears that, due to the end of upstream support for Python 2.7, the Debian packages providing a number of Python2 modules have been removed from Bullseye, e.g. python-icalendar, python-appdirs, python-cryptography, python-lxml ... . Also, python-pip (for 2.7) has been removed.  It is present in Debian testing but has a numbe

[2022-03-12 12:56] fpiesche commented on #2309
An alternate option might be to just run Mailpile from a Docker container, which requires a lot less messing around with your system installation. I've got a [GitHub repo](https://github.com/fpiesche/docker-mailpile) that automatically builds Docker images of both release versions (as and when they come out) and nightly builds of Mailpile's `master` branch whenever changes have been made.

My imag

[2022-03-12 14:24] JackDca commented on #2309
Thanks for the suggestion and the link. I've seen a lot of references to Docker in discussions of Mailpile. l've never used Docker myself, so for me there would be some learning required, but for some people this sounds like a good solution.

[2022-04-08 15:33] poiNt3D commented on #1564
Sorry for intruding the isuue tracker
@npodbielski Have you found any multiuser web email client that can store a copy of all emails?

[2022-04-08 15:39] npodbielski commented on #1564
Wow. After for years I do not remember (exactly) what this was about. I think I was migrating from Windows mail server to something linux based. Mailpile was a test.
I am using mailcow right now. It have integrated SOGO instance, and SOGO can be configured with other (non mailcow) IMAP emails. I configured everything there and I am happy with it so far.

[2022-04-08 15:40] poiNt3D commented on #1564
@npodbielski Thank you, i will try SOGO.

[2022-04-09 08:48] prologic commented on #1564
@poiNt3D If you give me some time I will still build a multi-user setup for Mailpile.

I quite like Mailpile and given the design choices, I don't think it's that hard to do. I agree with the author's design choices here and I respect that (a lot) in fact I do exactly the same thing in two of my other projects (a decentralised, self-hosted social media and instant messenger).

@BjarniRunar I _thin

[2022-04-09 08:48] prologic commented on #1564
(Actually I don't seem to be able to close my own issue :/

[2022-04-09 11:21] poiNt3D commented on #1564
@prologic  Are you going to fork the project?
Btw, the issue is already closed :- )

[2022-04-12 23:13] vibhuti019 commented on #1017
HI, this issue seems very old, I would like to work on this.

[2022-05-03 03:12] bioncabond commented on #1645
Hello @BjarniRunar,

Is this still an issue that needs to be resolved?

[2022-05-23 16:28] The-Compiler commented on #2291
FWIW, I'm looking for a security contact as well... Did you end up finding anything, @zidingz?

[2022-05-24 10:33] JamieSlome commented on #2291
@The-Compiler - jumping in for @zidingz :) Not sure we could find anything...

[2022-06-05 18:30] alakel1 opened #2310 "Internal error: 'NoneType' object has no attribute 'mailbox_info'"
I recently installed Mailpile via Dockerfile to test it out, I connected an Outlook account to it and I configured it this way:
- IMAP/TLS: outlook.office365.com - port 993 - Authentication: `Password`
- No SMTP configuration
- Encryption key: `Disable encryption for this account`

Now, what happens is that it was able to retrieve emails only from the "Sent" folder, but not from the inbox, and eve

[2022-06-07 07:47] BjornW opened #2311 "SSL certificate has expired for https://community.mailpile.is"
Hi,
The link https://community.mailpile.is/t/a-very-uninformative-progress-update-mailpile-2/785 mentioned in https://github.com/mailpile/Mailpile/commit/0989ac1fe341d969ab2cc4d35af5625b3a122964 has an expired SSL certificate. It was expired the first of june 2022 See
![screenshot-2022-06-07_09-44-52](https://user-images.githubusercontent.com/65042/172325195-34377c39-b9c4-4f22-8f66-d92c99333e08.pn

[2022-06-26 16:48] BjarniRunar commented on #2311
Fixed, thanks for reporting!

[2022-06-26 16:48] #2311 closed

[2022-07-15 18:02] PyDeps opened #2313 "Project dependencies may have API risk issues"
Hi, In **Mailpile**, inappropriate dependency versioning constraints can cause risks.

Below are the dependencies and version constraints that the project is using
[code]

The version constraint **==** will introduce the risk of dependency conflicts because the scope of dependencies is too strict.
The version constraint **No Upper Bound** and **\*** will introduce the risk of the missing API Error

[2022-07-27 14:48] BjarniRunar commented on #2313
As stated in the top-level README, development on this repo is halted (the app is being rewritten from scratch), unless a maintainer steps up. So please don't waste your time on pull requests.

Leaving this issue open since it's absolutely correct and it's worth flagging in case development on this branch does resume.

[2022-09-06 16:29] alf1e opened #2315 "Receive mail through SMTP."
Im using Mailgun. How can I receive mail through SMTP?

[2022-11-25 15:48] #2267 closed